*{

    padding: 0;
    margin: 0;
  }
  
  body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
      background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/09/10/801184/12341b63eeaaebb651488398158cf1bf.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
  
  }
  #main{
     padding: 5px;
    min-width: 400px;
    min-height: 160px;
   border:2px solid #ddd;
   border-spacing: inherit;
   border-width: medium;
   border-radius: 10px;
   border-style:double;
   background: rgb(103, 106, 121);
  box-shadow:0 0 7px  #f0f0f0;
  
  
  }
  .img{
    width: 60px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  
  }
  
  #tem{
  
      color:#ffffff;
      font-family: 'Nunito', sans-serif;
  }
  .content{
    float: left;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;height: 100px;
    font-weight: bold;
    font-family: monospace;
    font-size: 14px;
  
  }
  
  #temp{
    color:#273c75;
    font-family: 'Nunito', sans-serif;
    margin: 0;
  }
  #tem{
    background: -webkit-linear-gradient(dodgerblue, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

footer{
    color: rgb(175, 163, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
}  